@use postcss-cssnext;

@font-face {
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 400;
 src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.align {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


:root {
  --gridMaxWidth: 25rem;
  --gridWidth: 90%;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--gridMaxWidth);
  width: var(--gridWidth);
}

/* layout/base.css */

:root {
  --htmlFontSize: 100%;

  --bodyBackgroundColor: #505460;
  --bodyColor: #fff;
  --bodyFontFamily: 'Open Sans';
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: .875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var(--htmlFontSize);
  height: 100%;
}

body {
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  display: flex;
  flex-direction: column;
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
}

/* modules/form.css */

::placeholder {
  color: #42454e;
}

input {
  appearance: none;
  border: none;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}

input[type="search"] {
  appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  appearance: none;
}

input[type="submit"] {
  cursor: pointer;
}

.form__field {
  display: flex;
  flex-wrap: wrap;
}

.form__input {
  flex-grow: 1;
}

:root {
  --searchBackgroundColor: #42454e;
  --searchBorderRadius: .125rem;
  --searchFontSize: .75rem;
  --searchPadding: .5rem;

  --searchInputBorderRadius: .125rem;

  --searchInputSearchBackgroundColor: #fff;
  --searchInputSearchColor: #42454e;
  --searchInputSearchPaddingHorizontal: .5rem;
  --searchInputSearchPaddingVertical: .375rem;

  --searchInputButtonBackgroundColor: #ff5e39;
  --searchInputButtonColor: #fff;
  --searchInputButtonFontWeight: bold;
  --searchInputButtonPaddingHorizontal: .625rem;
  --searchInputButtonPaddingVertical: .375rem;
  --searchInputButtonHoverBackgroundColor: #ff7f3f;
}

.search {
  background-color: var(--searchBackgroundColor);
  border-radius: var(--searchBorderRadius);
  font-size: var(--searchFontSize);
  padding: var(--searchPadding);
}

.search input[type="search"],
.search input[type="submit"] {
  border-radius: var(--searchInputBorderRadius);
}

.search input[type="search"] {
  background-color: var(--searchInputSearchBackgroundColor);
  color: var(--searchInputSearchColor);
  padding: var(--searchInputSearchPaddingVertical) var(--searchInputSearchPaddingHorizontal);
}

.search input[type="submit"] {
  background-color: var(--searchInputButtonBackgroundColor);
  color: var(--searchInputButtonColor);
  font-weight: var(--searchInputButtonFontWeight);
  margin-left: .5rem;
  padding: var(--searchInputButtonPaddingVertical) var(--searchInputButtonPaddingHorizontal);
}

.search input[type="submit"]:focus,
.search input[type="submit"]:hover {
  background-color: var(--searchInputButtonHoverBackgroundColor);
}

.logo-and-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.result, .errors {
  display: none;
}

#acryl-text {
  width: 100%;
}

#preloader {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#nodes_list {
  padding: 0;
  list-style-type: none;
}
